{% extends 'blog/blog_base.html' %}
{% load i18n %}

{% block blog-nav %}
    <li><a href="{% url 'blog:post_draft_list' %}">{% trans 'Drafts' %}</a></li>
    <li><a href="{% url 'blog:post_list' %}">{% trans 'Post List' %}</a></li>
{% endblock blog-nav %}

{% block head_title %}
    <h2 class="section-title">New Blog Post</h2>
{% endblock head_title %}

{% block content %}
  <div class="post-detail">
    <form method="POST" class="blog-form">
      <h1 class="post-header">New post</h1>
      <fieldset class="form">
        {% csrf_token %}
        {{form.as_p}}
        
        <button type="submit" class="btn">Save</button>
      </fieldset>
    </form>

    <script>var editor = new MediumEditor('.editable');</script>
  </div>  

{% endblock content %}
