{% load static i18n %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/vnd.microsoft.icon">
    <meta name="keywords" content="">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{% static 'css/project.css'%}">
        
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Lato:100,300,400,700" rel="stylesheet">
    <script async src="{% static 'js/vendors.js'%}" type="text/javascript"></script>

  </head>
  <body class="no-margin">
    <!-- {% comment %}     
    <div class="site-grid">

      <div class="site-grid-header">
        {% include '_nav_menu.html' %}
      </div> 
      {% endcomment %} -->

      <!-- {% comment %} 
      <div class="site-grid-topbar">
        <div class="top-grid">

          <section class="top-bread">
            {% block breadcrumbs %}{% endblock breadcrumbs %}
          </section>

          <section class="top-alert">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  <p>{{ message }}</p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span class="close" aria-hidden="true">X</span>
                  </button>
                </div>
              {% endfor %}
            {% endif %}
            {% block notifications %}{% endblock notifications %}
          </section>

        </div>
      </div> 
      {% endcomment %} -->

      <div class="site-grid-main">
        {% block page-content %} {% endblock page-content %}
      </div>
    
      <!-- {% comment %} 
      <div class="site-grid-footer">
        {% include '_footer.html' %}
      </div> 
    </div>
    {% endcomment %} -->
    <script async src="{% static 'js/project.js'%}"></script>

  </body>
</html>
