/* ==========================================================================
   Blog Styling
   ========================================================================== */


.blog {
  order: 1;
  flex: 2 1 auto;
  /* padding-top: 1rem; */
  border: 1px solid black;
  border-radius: 10px;
  background-color: $primary-color-02;
  color: $text;
  margin: 1rem 2rem 1rem 1rem;
  font-family: $fontLato;

  @include atSmall {
    /* margin: 0 3rem 3rem 3rem; */
    // min-width: 50%;
    // max-width: 60%;
    padding: 1rem;
    overflow: hidden;
  }

  &-draft {
    background-color: $secondary-color-03;
  }

  &-form {
    margin: auto;
    padding: 1rem;
    height: 90%;
    text-align: left;

    // iframe {
    //   margin: auto;
    // }
  }

  &-new {
    width: 70%;
  }

  h1 {
    margin: 0;
    font-variant: small-caps;

    a:link, a:visited {
      color: $heading;
    }

    @include atSmall {
      font-size: 2rem;
    }

    @include atMedium {
      font-size: 3rem;
    }
  }

  hr {
    width: 90%;

    @include atSmall {
      width: 100%;
    }
  }

  .btn {
    margin: .2rem;
    padding: .5rem 1rem;
    border: 1px solid gray;
  }

  .post-header {
    order: 1;
    text-align: center;
    color: $primary-color-2;

    p {
      margin: .25rem;
    }

    a.tags {
      background-color: lightgray;
      border-radius: 20px;
      text-decoration: none;
      padding: .1rem .5rem;
    }
  }

  .post-body {
    order: 2;
    background-color: #fff;
    padding: .5rem;
    border-radius: 10px;
    font-family: $fontRaleway;

    p {
      font-size: .9rem;
      padding-left: 1rem;

      @include atSmall {
        font-size: 1rem;
      }
    }
  }

  .post-controls {
    order: 3;
    align-self: center;
    margin: .5rem auto;

    .btn {
      /* font-size: .8rem; */
      padding: .2rem .5rem;
    }
  }

  .post-comments {
    order: 4;

    @include atMedium {
      padding: 0 2rem;
    }

    hr {
      margin: 1rem 0;
    }

    .container {
      padding: .2rem 0 .2rem .2rem;
      margin: 1rem 0;
      border: 1px solid $primary-color-3;
      border-radius: 10px;
      background-color: $primary-color-03;
      color: #fff;

      &:last-of-type {
        margin-bottom: 0;
      }

      @include atSmall {
        padding: .5rem 1rem;
      }

      p {
        margin: 0;
      }

      .comment-text {
        background-color: #fff;
        color: $text;
        border: 1px solid $primary-color-3;
        border-radius: 10px;
        padding: .5rem;
        margin: .3rem;

        @include atSmall {
          padding: 1rem;
          margin: .3rem;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .post-list {
    padding: .5rem 1rem;
    padding-bottom: 0;

    @include atSmall {
      padding: 0;
    }

    .post-header {
      text-align: left;
      padding-bottom: .5rem;

      h1 a {
        text-decoration-line: none;
      }

      h1 a:hover {
        text-decoration-line: underline;
      }
    }
  }

  .post-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    padding-top: 0;
    background-color: $primary-color-04;
  }

}

/* Right Sidebar styling */
.blog-extra {
  order: 2;
  flex: 1 1 auto;
  // max-width: 30%;
  /* max-height: 32rem; */
  // max-height: 60vh;
  border: 2px solid $primary-color-0;
  border-radius: 20px;
  background-color: $secondary-color-01;
  padding: .5rem 1rem;
  font-family: $fontRaleway;
  
  h3, h4 {
    color: #fff;
    padding: 0.5rem;
    border-bottom: 3px solid #fff;
  }

  li ul, li ol {
    margin: 0;
  }
  ul, ol {
    list-style: none;
    margin: 0 1.5rem 1.5rem 0;
    padding-left: .25rem;
    color: #fff;
  }
  // ul {
  //   list-style-type: disc;
  // }
  ol {
    list-style-type: decimal;
  }
  li {
    list-style-image: url("../images/bullet.png");
  }
  a, p {
    color: #fff;
    text-decoration: none;
  }
  // a:visited {
  //   color: $primary-color-02; }
  a:focus {
    color: $primary-color-3; }
  a:hover {
    color: $primary-color-03;
    text-decoration: underline;
   }

  .welcome {
    color: #fff;
    text-align: center;
    font-family: $fontLato;
    font-weight: normal;
  }
}

.feeds {
  background: transparent url("../images/rss.png") no-repeat scroll left center;
  padding-left: 1.5em;
}
