/* =========================
         SITE FOOTER
   ========================= */

.site-footer {
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  /* Patterned background */
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;

  @include atSmall {
    flex-flow: row nowrap;
  }

  p, a, span {
    color: #fff;
  }


/* Copyright section of footer */
.site-footer__copyright {
  order: 3;
  padding-bottom: .5rem;
  margin: .75rem 0;
  text-align: center;

  @include atSmall {
    order: 1;
    padding: 0 0 0 1rem;
    margin: 1rem 0;
    text-align: left;
  }

  p {
    margin: 0;
    font-family: $fontRaleway;
    font-size: .7rem;
    font-weight: 100;

    @include atSmall {
      font-size: .9rem;
    }
  }
}

/* Icon to move back to top */
.site-footer__top {
  order: 1;

  @include atSmall {
    order: 2;
    margin-top: 5px;
  }

  span {
    cursor: pointer;
    display: block;
    margin: 10px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid $primary-color-01;
    text-align:center;
    z-index: 5;

    @include atSmall {
      margin: 0 auto;
      transform: translateY(-15%);
    }

    i {
      padding-top: 6px;
    }
  }
}

/* Contact links */
.site-footer__contact {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;

  @include atSmall {
    order: 3;
    flex-direction: row;
    justify-content: flex-end;
  }

  .site-footer__social {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

    @include atSmall {
      justify-content: flex-end;
    }
  }
    .site-footer__social ul {
      margin: 0;
      padding: 0;
    }

    .site-footer__social ul li {
      display: inline-block;
      font-size: 1.5rem;
      list-style: none;
    }

    .site-footer__social ul li a {
      display: block;
      padding: 10px;

      &:hover {
        color: $secondary-color-01;
      }
    }
  }
}