/* Google fonts downloaded */
/* Source:  https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lato:100,300,400,700|Raleway:300,400,500,700 */
/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans Regular"), local("DroidSans-Regular"), url(https://fonts.gstatic.com/s/droidsans/v7/s-BiyweUPV0v-yRb-cjciPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Droid Sans Bold"), local("DroidSans-Bold"), url(https://fonts.gstatic.com/s/droidsans/v7/EFpQQyG9GqCrobXxL-KRMYWiMMZ7xLd792ULpGE4W_Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url(https://fonts.gstatic.com/s/lato/v13/eFRpvGLEW31oiexbYNx7Y_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url(https://fonts.gstatic.com/s/lato/v13/GtRkRNTnri0g82CjKnEB0Q.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v13/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v13/EsvMC5un3kjyUhB9ZEPPwg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v13/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v13/H2DMvhDLycM56KNuAtbJYA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(https://fonts.gstatic.com/s/raleway/v11/ZKwULyCG95tk6mOqHQfRBCEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(https://fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(https://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-Medium"), url(https://fonts.gstatic.com/s/raleway/v11/Li18TEFObx_yGdzKDoI_ciEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-Medium"), url(https://fonts.gstatic.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T8_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url(https://fonts.gstatic.com/s/raleway/v11/WmVKXVcOuffP_qmCpFuyzSEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url(https://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* ==========================================================================
   Variables
   ========================================================================== */
/* ===== General ===== */
/* Define fonts */
/* ===== Colors ===== */
/* Slate Blue */
/* Main Primary Color */
/* Green Blue */
/* Main Secondary Color */
/* Miscellaneous Backgrounds */
/* Buttons */
/* Notification Colors */
/* Border Colors */
/* Text Colors */
/* Miscellaneous Colors */
/* Semantic UI colors (www.semantic-ui.com) */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #74808a;
  font-size: 1em;
  line-height: 1.4;
  margin: 16px;
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Base Mixins including Media queries
   ========================================================================== */
/* Large Smartphones (atVerySmall) */
/* Tablets (atSmall) */
/* Medium Desktop Screens (atMedium) */
/* Large Desktop Screens (atLarge) */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
 EXAMPLE Media Queries for Responsive Design.
 These examples override the primary ('mobile first') styles.
 Modify as content requires.
 ========================================================================== */
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
 Print styles.
 Inlined to avoid the additional HTTP request:
 https://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/* =========================
          SITE GRID
   ========================= */
/* Grid settings only; All other styling settings
    found in specific CSS section (module) */
/* MAIN SITE GRID - TOP LEVEL */
.site-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: .5rem;
  grid-template-areas: "header" "topbar" "main" "footer"; }
  @media screen and (min-width: 768px) {
    .site-grid {
      grid-template-columns: auto-fit, minmax(100px, 1fr), auto, auto-fit, minmax(100px, 1fr);
      grid-template-rows: 72px auto auto auto;
      grid-template-areas: "header" "topbar" "main" "footer"; } }

/* Site Heading grid settings */
.site-grid-header {
  grid-area: header;
  overflow: hidden;
  background: #223F57;
  color: #fff; }

.site-grid-topbar {
  grid-area: topbar;
  display: none;
  visibility: collapse; }
  @media screen and (min-width: 1024px) {
    .site-grid-topbar {
      display: contents;
      visibility: visible; } }

.site-grid-main {
  grid-area: main; }
  @media screen and (min-width: 768px) {
    .site-grid-main {
      min-height: 50%; } }

.site-grid-footer {
  grid-area: footer; }
  @media screen and (min-width: 768px) {
    .site-grid-footer {
      position: fixed;
      width: 100%;
      bottom: 0; } }

/* TOP BAR GRID - Child of SITE-GRID-TOPBAR */
.top-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "bread alert alert"; }

.top-bread {
  grid-area: bread; }

.top-alert {
  grid-area: alert; }

/* MAIN GRID - Child of SITE-GRID-MAIN */
.main-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* grid-gap: 1%; */
  grid-template-areas: "content" "aside" "sidebar"; }
  @media screen and (min-width: 1024px) {
    .main-grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto;
      grid-gap: 1%;
      grid-template-areas: "sidebar content content content aside"; } }

.main-content {
  grid-area: content;
  -ms-flex-item-align: start;
      align-self: start;
  margin-top: 16px;
  margin-top: 1rem;
  padding: 8px;
  padding: .5rem; }
  .main-content:empty {
    display: none;
    visibility: collapse; }
  @media screen and (min-width: 768px) {
    .main-content {
      margin-top: 0;
      margin-bottom: 7rem;
      padding: 0; } }

.main-sidebar {
  grid-area: sidebar;
  display: none;
  visibility: collapse;
  height: 0; }
  @media screen and (min-width: 1024px) {
    .main-sidebar {
      display: contents;
      visibility: visible;
      height: 100%; } }

.main-aside {
  grid-area: aside; }
  .main-aside:empty {
    display: none; }

/* =========================
          SITE HEADER
   ========================= */
/* Three sections:  Logo, Menu, Contact */
.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  position: absolute;
  width: 100%;
  z-index: 3;
  -webkit-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
  /* Allows different header color on larger screens */
  /* Logo Section */
  /* Menu/Navigation Section */
  /* Contact Section */ }
  .site-header--is-expanded {
    background-color: rgba(34, 63, 87, 0.55); }
  @media screen and (min-width: 768px) {
    .site-header {
      /* visibility: visible; */
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap; } }
  @media screen and (min-width: 1024px) {
    .site-header {
      position: fixed;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #223F57;
      color: #fff;
      /* max-height: 72px; */
      /* To change header colors as page is scrolled */ }
      .site-header--dark {
        background-color: rgba(34, 63, 87, 0.9); } }
  .site-header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0.8);
            transform: translateX(-50%) scale(0.8);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%; }
    @media screen and (min-width: 768px) {
      .site-header__logo {
        position: relative;
        top: 0;
        left: 0;
        margin: 1px 0 1px 2rem;
        -webkit-transform: translateX(0) scale(1);
                transform: translateX(0) scale(1); } }
  .site-header__logo__graphic icon {
    text-indent: -9999px; }
  .site-header__menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 2;
        -ms-flex: 2 1 auto;
            flex: 2 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .site-header__menu {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap; } }
  .site-header__menu-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 2;
        -ms-flex: 2 1 auto;
            flex: 2 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    position: relative;
    z-index: -10;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .site-header__menu-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap; } }
    @media screen and (min-width: 1024px) {
      .site-header__menu-content {
        opacity: 1;
        z-index: 1;
        padding-top: 0;
        -webkit-transform: scale(1);
                transform: scale(1); } }
    .site-header__menu-content--is-visible {
      opacity: 1;
      z-index: 5;
      -webkit-transform: scale(1);
              transform: scale(1);
      padding: 53px 20px 0 20px; }
  .site-header__menu-icon {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px; }
    .site-header__menu-icon::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #223F57;
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      -webkit-transition: -webkit-transform .3s ease-out;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out, -webkit-transform .3s ease-out; }
    .site-header__menu-icon__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #223F57;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      -webkit-transform-origin: 0 50%;
              transform-origin: 0 50%; }
    .site-header__menu-icon::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #223F57;
      -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%;
      -webkit-transition: -webkit-transform .3s ease-out;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out, -webkit-transform .3s ease-out; }
    @media screen and (min-width: 1024px) {
      .site-header__menu-icon {
        display: none; } }
  .site-header__menu-icon--close-x::before {
    -webkit-transform: rotate(45deg) scaleX(1.25);
            transform: rotate(45deg) scaleX(1.25); }
  .site-header__menu-icon--close-x .site-header__menu-icon__middle {
    opacity: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  .site-header__menu-icon--close-x::after {
    -webkit-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
            transform: rotate(-45deg) scaleX(1.25) translateY(1px); }
  .site-header li.btn--config {
    margin-left: 48px;
    margin-left: 3rem;
    padding: 0; }
    .site-header li.btn--config a:hover {
      background: transparent; }
  .site-header li.btn--contact a {
    display: none; }
    @media screen and (min-width: 768px) {
      .site-header li.btn--contact a {
        display: contents; } }

/* =========================
         SITE FOOTER
   ========================= */
.site-footer {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
  /* Patterned background */
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  /* Copyright section of footer */
  /* Icon to move back to top */
  /* Contact links */ }
  @media screen and (min-width: 768px) {
    .site-footer {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap; } }
  .site-footer p, .site-footer a, .site-footer span {
    color: #fff; }
  .site-footer .site-footer__copyright {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-bottom: 8px;
    padding-bottom: .5rem;
    margin: 12px 0;
    margin: .75rem 0;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .site-footer .site-footer__copyright {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        padding: 0 0 0 1rem;
        margin: 1rem 0;
        text-align: left; } }
    .site-footer .site-footer__copyright p {
      margin: 0;
      font-family: "Raleway", sans-serif;
      font-size: 11.2px;
      font-size: .7rem;
      font-weight: 100; }
      @media screen and (min-width: 768px) {
        .site-footer .site-footer__copyright p {
          font-size: .9rem; } }
  .site-footer .site-footer__top {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
    @media screen and (min-width: 768px) {
      .site-footer .site-footer__top {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin-top: 5px; } }
    .site-footer .site-footer__top span {
      cursor: pointer;
      display: block;
      margin: 10px auto 0 auto;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 3px solid #4F7696;
      text-align: center;
      z-index: 5; }
      @media screen and (min-width: 768px) {
        .site-footer .site-footer__top span {
          margin: 0 auto;
          -webkit-transform: translateY(-15%);
                  transform: translateY(-15%); } }
      .site-footer .site-footer__top span i {
        padding-top: 6px; }
  .site-footer .site-footer__contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between; }
    @media screen and (min-width: 768px) {
      .site-footer .site-footer__contact {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
    .site-footer .site-footer__contact .site-footer__social {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between; }
      @media screen and (min-width: 768px) {
        .site-footer .site-footer__contact .site-footer__social {
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end; } }
    .site-footer .site-footer__contact .site-footer__social ul {
      margin: 0;
      padding: 0; }
    .site-footer .site-footer__contact .site-footer__social ul li {
      display: inline-block;
      font-size: 24px;
      font-size: 1.5rem;
      list-style: none; }
    .site-footer .site-footer__contact .site-footer__social ul li a {
      display: block;
      padding: 10px; }
      .site-footer .site-footer__contact .site-footer__social ul li a:hover {
        color: #519592; }

/* =========================
       Naviagation Bar
   ========================= */
/* Includes dropdowns */
.nav-primary {
  padding-top: 0;
  /* Begin Dropdown styling */ }
  .nav-primary ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .nav-primary ul {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start; } }
  .nav-primary ul li {
    position: relative;
    float: left;
    padding-right: 20px; }
  .nav-primary ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 32px;
    line-height: 2rem;
    padding: 0 15px; }
    @media screen and (min-width: 768px) {
      .nav-primary ul li a {
        padding: .25rem .75rem;
        margin: 2px;
        background-color: transparent; } }
    @media screen and (min-width: 1024px) {
      .nav-primary ul li a {
        font-size: 1.3rem; }
        .nav-primary ul li a.is-current-link {
          border-bottom: 3px solid #317d79; } }
    .nav-primary ul li a:hover {
      border-radius: 20px;
      background-color: rgba(49, 125, 121, 0.7); }
  .nav-primary ul li.btn--contact a.button {
    background-color: #519592;
    font-size: 16px;
    font-size: 1rem;
    padding-right: 0; }
  .nav-primary ul ul {
    display: none;
    position: absolute;
    background: #223F57;
    padding: 10px;
    padding: 0.625rem;
    padding-right: 0; }
  .nav-primary ul ul li {
    float: right;
    min-width: 160px;
    min-width: 10rem; }
    @media screen and (min-width: 768px) {
      .nav-primary ul ul li {
        float: left;
        min-width: 15rem; } }
  .nav-primary ul ul a {
    line-height: 120%;
    font-size: 16px;
    font-size: 1rem;
    text-align: left; }
  .nav-primary ul ul ul {
    top: 0;
    left: 100%; }
  .nav-primary ul li:hover > ul {
    display: block; }
