/* Google fonts downloaded */
/* Source:  https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lato:100,300,400,700|Raleway:300,400,500,700 */
/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans Regular"), local("DroidSans-Regular"), url(https://fonts.gstatic.com/s/droidsans/v7/s-BiyweUPV0v-yRb-cjciPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Droid Sans Bold"), local("DroidSans-Bold"), url(https://fonts.gstatic.com/s/droidsans/v7/EFpQQyG9GqCrobXxL-KRMYWiMMZ7xLd792ULpGE4W_Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url(https://fonts.gstatic.com/s/lato/v13/eFRpvGLEW31oiexbYNx7Y_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url(https://fonts.gstatic.com/s/lato/v13/GtRkRNTnri0g82CjKnEB0Q.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v13/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v13/EsvMC5un3kjyUhB9ZEPPwg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v13/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v13/H2DMvhDLycM56KNuAtbJYA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(https://fonts.gstatic.com/s/raleway/v11/ZKwULyCG95tk6mOqHQfRBCEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(https://fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(https://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-Medium"), url(https://fonts.gstatic.com/s/raleway/v11/Li18TEFObx_yGdzKDoI_ciEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-Medium"), url(https://fonts.gstatic.com/s/raleway/v11/CcKI4k9un7TZVWzRVT-T8_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url(https://fonts.gstatic.com/s/raleway/v11/WmVKXVcOuffP_qmCpFuyzSEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url(https://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* ==========================================================================
   Variables
   ========================================================================== */
/* ===== General ===== */
/* Define font families */
/* Define base colors*/
/* ===== Colors ===== */
/* Slate Blue */
/* Main Primary Color */
/* Green Blue */
/* Main Secondary Color */
/* Miscellaneous Backgrounds */
/* Buttons */
/* Notification Colors */
/* Border Colors */
/* Text Colors */
/* Miscellaneous Colors */
/* Semantic UI colors (www.semantic-ui.com) */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #374054;
  font-size: 1em;
  line-height: 1.4;
  margin: 16px;
  margin: 1rem;
  font-family: "Lato", sans-serif, sans-serif; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Base Mixins including Media queries
   ========================================================================== */
/* Large Smartphones (atVerySmall) */
/* Tablets (atSmall) */
/* Medium Desktop Screens (atMedium) */
/* Large Desktop Screens (atLarge) */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
 EXAMPLE Media Queries for Responsive Design.
 These examples override the primary ('mobile first') styles.
 Modify as content requires.
 ========================================================================== */
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
 Print styles.
 Inlined to avoid the additional HTTP request:
 https://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/* =========================
          FLEXBOX
   ========================= */
.flexbox-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around; }

.flexbox-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: distribute;
      align-content: space-around; }
  .flexbox-row--nowrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
  @media screen and (min-width: 768px) {
    .flexbox-row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap; } }

.flex-item--1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.flex-item--2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.flex-item--3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.flex-item--4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4; }

.flex-item--5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5; }

/* Secondary navigation bar */
.nav-secondary {
  visibility: collapse;
  width: 30%;
  margin: 22.4px -16px -64px auto;
  margin: 1.4rem -1rem -4rem auto;
  text-align: right; }
  @media screen and (min-width: 768px) {
    .nav-secondary {
      visibility: visible; } }
  .nav-secondary ul {
    /* display: inline; */
    padding: 8px;
    padding: .5rem;
    margin: 0; }
    .nav-secondary ul li {
      list-style: none;
      display: inline-block;
      margin: 3.2px 4.8px;
      margin: .2rem .3rem; }
    .nav-secondary ul a {
      text-decoration: none;
      border-radius: 20px;
      padding: 3.2px 9.6px;
      padding: .2rem .6rem;
      background-color: #315b7d;
      color: #fff; }
      .nav-secondary ul a:hover {
        background-color: #1D4769;
        color: white; }

/* ==========================================================================
   Forms
   ========================================================================== */
.form {
  background-color: #7d9cb6;
  color: #fff;
  padding: 0 16px 16px 16px;
  padding: 0 1rem 1rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
  /* Commented out on Dec 27 to align text on New Post form */
  /* form {
    text-align: center;
  } */ }
  @media screen and (min-width: 768px) {
    .form {
      width: 30%; } }
  @media screen and (min-width: 1024px) {
    .form {
      width: 50%; } }
  @media screen and (min-width: 768px) {
    .form--popup {
      width: 70%; } }
  @media screen and (min-width: 1024px) {
    .form--popup {
      width: 80%; } }
  .form .form-header {
    text-align: center; }
  .form h1 {
    text-align: center;
    color: #000;
    font-size: 24px;
    font-size: 1.5rem; }
    @media screen and (min-width: 768px) {
      .form h1 {
        font-size: 2rem; } }
  .form a {
    color: #0A2F4E;
    font-weight: bold;
    padding: 0 4.8px;
    padding: 0 .3rem; }
  .form p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .form input, .form textarea, .form select {
    border-radius: 5px; }
  .form button {
    margin: auto; }

/* ==========================================================================
   Blog Styling
   ========================================================================== */
.blog {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  /* padding-top: 1rem; */
  border: 1px solid black;
  border-radius: 10px;
  background-color: #7d9cb6;
  color: #74808a;
  margin: 16px 32px 16px 16px;
  margin: 1rem 2rem 1rem 1rem;
  font-family: "Lato", sans-serif; }
  @media screen and (min-width: 768px) {
    .blog {
      /* margin: 0 3rem 3rem 3rem; */
      padding: 1rem;
      overflow: hidden; } }
  .blog-draft {
    background-color: #accbc9; }
  .blog-form {
    margin: auto;
    padding: 16px;
    padding: 1rem;
    height: 90%;
    text-align: left; }
  .blog-new {
    width: 70%; }
  .blog h1 {
    margin: 0;
    font-variant: small-caps; }
    .blog h1 a:link, .blog h1 a:visited {
      color: #374054; }
    @media screen and (min-width: 768px) {
      .blog h1 {
        font-size: 2rem; } }
    @media screen and (min-width: 1024px) {
      .blog h1 {
        font-size: 3rem; } }
  .blog hr {
    width: 90%; }
    @media screen and (min-width: 768px) {
      .blog hr {
        width: 100%; } }
  .blog .btn {
    margin: 3.2px;
    margin: .2rem;
    padding: 8px 16px;
    padding: .5rem 1rem;
    border: 1px solid gray; }
  .blog .post-header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    color: #223F57; }
    .blog .post-header p {
      margin: 4px;
      margin: .25rem; }
    .blog .post-header a.tags {
      background-color: lightgray;
      border-radius: 20px;
      text-decoration: none;
      padding: 1.6px 8px;
      padding: .1rem .5rem; }
  .blog .post-body {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: #fff;
    padding: 8px;
    padding: .5rem;
    border-radius: 10px;
    font-family: "Raleway", sans-serif; }
    .blog .post-body p {
      font-size: 14.4px;
      font-size: .9rem;
      padding-left: 16px;
      padding-left: 1rem; }
      @media screen and (min-width: 768px) {
        .blog .post-body p {
          font-size: 1rem; } }
  .blog .post-controls {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 8px auto;
    margin: .5rem auto; }
    .blog .post-controls .btn {
      /* font-size: .8rem; */
      padding: 3.2px 8px;
      padding: .2rem .5rem; }
  .blog .post-comments {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
    @media screen and (min-width: 1024px) {
      .blog .post-comments {
        padding: 0 2rem; } }
    .blog .post-comments hr {
      margin: 16px 0;
      margin: 1rem 0; }
    .blog .post-comments .container {
      padding: 3.2px 0 3.2px 3.2px;
      padding: .2rem 0 .2rem .2rem;
      margin: 16px 0;
      margin: 1rem 0;
      border: 1px solid #0A2F4E;
      border-radius: 10px;
      background-color: #98adbe;
      color: #fff; }
      .blog .post-comments .container:last-of-type {
        margin-bottom: 0; }
      @media screen and (min-width: 768px) {
        .blog .post-comments .container {
          padding: .5rem 1rem; } }
      .blog .post-comments .container p {
        margin: 0; }
      .blog .post-comments .container .comment-text {
        background-color: #fff;
        color: #74808a;
        border: 1px solid #0A2F4E;
        border-radius: 10px;
        padding: 8px;
        padding: .5rem;
        margin: 4.8px;
        margin: .3rem; }
        @media screen and (min-width: 768px) {
          .blog .post-comments .container .comment-text {
            padding: 1rem;
            margin: .3rem;
            margin-bottom: 1rem; } }
  .blog .post-list {
    padding: 8px 16px;
    padding: .5rem 1rem;
    padding-bottom: 0; }
    @media screen and (min-width: 768px) {
      .blog .post-list {
        padding: 0; } }
    .blog .post-list .post-header {
      text-align: left;
      padding-bottom: 8px;
      padding-bottom: .5rem; }
      .blog .post-list .post-header h1 a {
        -webkit-text-decoration-line: none;
                text-decoration-line: none; }
      .blog .post-list .post-header h1 a:hover {
        -webkit-text-decoration-line: underline;
                text-decoration-line: underline; }
  .blog .post-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 16px;
    padding: 1rem;
    padding-top: 0;
    background-color: #d5dee5; }

/* Right Sidebar styling */
.blog-extra {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  /* max-height: 32rem; */
  border: 2px solid #315b7d;
  border-radius: 20px;
  background-color: #519592;
  padding: 8px 16px;
  padding: .5rem 1rem;
  font-family: "Raleway", sans-serif; }
  .blog-extra h3, .blog-extra h4 {
    color: #fff;
    padding: 8px;
    padding: 0.5rem;
    border-bottom: 3px solid #fff; }
  .blog-extra li ul, .blog-extra li ol {
    margin: 0; }
  .blog-extra ul, .blog-extra ol {
    list-style: none;
    margin: 0 24px 24px 0;
    margin: 0 1.5rem 1.5rem 0;
    padding-left: 4px;
    padding-left: .25rem;
    color: #fff; }
  .blog-extra ol {
    list-style-type: decimal; }
  .blog-extra li {
    list-style-image: url("../images/bullet.png"); }
  .blog-extra a, .blog-extra p {
    color: #fff;
    text-decoration: none; }
  .blog-extra a:focus {
    color: #0A2F4E; }
  .blog-extra a:hover {
    color: #98adbe;
    text-decoration: underline; }
  .blog-extra .welcome {
    color: #fff;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: normal; }

.feeds {
  background: transparent url("../images/rss.png") no-repeat scroll left center;
  padding-left: 1.5em; }

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn, button {
  border-radius: 20px;
  background-color: #315b7d;
  color: #fff;
  text-decoration: none;
  padding: 8px 9.6px;
  padding: .5rem .6rem;
  font-size: 12px;
  font-size: .75rem;
  display: inline-block; }
  @media screen and (min-width: 1024px) {
    .btn, button {
      padding: .75rem .5rem;
      font-size: 1rem; } }
  @media screen and (min-width: 1280px) {
    .btn, button {
      padding: .75rem 1.2rem;
      font-size: 1rem; } }
  .btn--light, button--light {
    background-color: #e0e1e2;
    color: #374054; }
  .btn--green, button--green {
    background-color: #32a4a4;
    color: #FFF; }
  .btn--red, button--red {
    background-color: #A43232;
    color: #FFF; }
  .btn--black, button--black {
    background-color: #414141;
    color: #FFF; }
  .btn--large, button--large {
    padding: 17.6px 30.4px;
    padding: 1.1rem 1.9rem; }
    @media screen and (min-width: 768px) {
      .btn--large, button--large {
        font-size: 1rem; } }
    @media screen and (min-width: 1024px) {
      .btn--large, button--large {
        font-size: 1.25rem;
        padding: 1rem 2rem; } }
  .btn--larger, button--larger {
    padding: 16px 16px;
    padding: 1rem 1rem;
    font-size: 16px;
    font-size: 1rem; }
    @media screen and (min-width: 1024px) {
      .btn--larger, button--larger {
        font-size: 1.5rem;
        padding: 1rem 2rem; } }
    @media screen and (min-width: 1280px) {
      .btn--larger, button--larger {
        font-size: 2rem;
        padding: 2rem 4rem; } }

/* ==========================================================================
   Popup Styling
   ========================================================================== */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; }
  .overlay:target {
    visibility: visible;
    opacity: 1; }

.popup {
  margin: 80px auto;
  margin: 5rem auto;
  padding: 16px;
  padding: 1rem;
  background: #98adbe;
  border-radius: 10px;
  width: 75%;
  height: 80%;
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  color: #000; }
  .popup iframe {
    background: #d5dee5; }
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif; }
  .popup__close {
    position: absolute;
    top: 40px;
    top: 2.5rem;
    right: 80px;
    right: 5rem;
    /* transition: all 200ms; */
    font-size: 32px;
    font-size: 2rem;
    -webkit-transform: scaleX(1.3);
            transform: scaleX(1.3);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    /* font-weight: bold; */
    text-decoration: none;
    color: #000;
    cursor: pointer; }
    .popup__close:hover {
      color: #223F57; }
  .popup__content {
    height: 65vh;
    overflow: auto;
    margin: 32px 32px 0;
    margin: 2rem 2rem 0; }

/* ==========================================================================
   Page Format
   ========================================================================== */
.new-page {
  padding: 32px 0;
  padding: 2rem 0; }
  @media screen and (min-width: 1024px) {
    .new-page {
      min-height: 90vh;
      padding: 3rem 2rem 0 2rem; } }
  .new-page .section-title {
    margin-bottom: 16px;
    margin-bottom: 1rem; }
  .new-page .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media screen and (min-width: 768px) {
      .new-page .flex-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap; } }
    .new-page .flex-container h2, .new-page .flex-container h4 {
      color: #A43232; }
  .new-page .flex-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
    .new-page .flex-item p {
      font-size: 14.4px;
      font-size: .9rem;
      margin: 4.8px 0;
      margin: .3rem 0; }
    .new-page .flex-item .source {
      font-style: italic;
      font-size: 11.2px;
      font-size: .7rem;
      margin-left: 40px;
      margin-left: 2.5rem; }

.page-section {
  padding: 0 0 19.2px 0;
  padding: 0 0 1.2rem 0; }
  @media screen and (min-width: 1024px) {
    .page-section {
      padding: 0 0 4.5rem 0; } }
  .page-section p {
    color: #74808a; }
  .page-section--no-b-until-medium {
    padding-bottom: 0; }
    @media screen and (min-width: 1024px) {
      .page-section--no-b-until-medium {
        padding-bottom: 4.5rem; } }
  .page-section--no-b-until-large {
    padding-bottom: 0; }
    @media screen and (min-width: 1280px) {
      .page-section--no-b-until-large {
        padding-bottom: 4.5rem; } }
  .page-section .section-title {
    color: #FFF; }

.section-title {
  font-family: "Droid Sans", sans-serif;
  font-size: 48px;
  font-size: 3rem;
  font-weight: 300;
  text-align: center; }
  .section-title strong {
    font-weight: 500; }
  .section-title--less-margin {
    margin-bottom: 20.8px;
    margin-bottom: 1.3rem;
    margin-top: 0; }
  .section-title--less-b-margin {
    margin-bottom: 16px;
    margin-bottom: 1rem; }
  .section-title__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9.6px;
    margin-bottom: .6rem; }
